@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300;700&display=swap');
*{
    font-family: 'Open Sans Condensed', sans-serif !important;
    margin:0;
    padding:0;
    border:0;
} 


@media (min-width: 1201px) {
  #quemsomos{
    width: 50%;
    margin: auto;
  }
  .titulo-principal{
    color: #fff;
    font-size: 90px;
  }

  .kattyIcon{
    width: 300px;
  }

  .divMarginFoto{
    margin: auto;
    text-align: center;
    align-items: center;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .titulo-principal{
    color: #fff;
    font-size: 45px;
  }

  #quemsomos{
    width: 80%;
    margin: auto;
  }

  .kattyIcon{
    width: 200px;
  }

  #banner{
    height: 900px !important;
  }

  .divMarginFoto{
    margin: auto;
    margin-top: 250px;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 979px) { 
  .titulo-principal{
    color: #fff;
    font-size: 25px;
  }

  #quemsomos{
    width: 100%;
    margin: auto;
  }

  .kattyIcon{
    width: 200px;
  }

  #banner{
    height: 700px !important;
  }

  .divMarginFoto{
    margin: auto;
    text-align: center;
    margin-top: 200px;
    align-items: center;
  }
}

#quemsomos{
  text-align: center;
}

#projetos{
  text-align: center;
}

#contato{
  text-align: center;
}

.textoApresentativo{
  color:#fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px
}

body{
height: 100%;
width: 100%;
}

.titulos{
  text-align-last: center;
  color:white;
}

.efeitoDigita:after{
  content: '|';
  margin-left: -2px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

body{
  background-image: url('./assets/img/starblack.gif');
}

#banner{
  width: 100%;
  display: flex;
  height: 1000px;
}

.kattyIcon{
  animation: scale 7s linear infinite;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}
  
@keyframes scale {
  50% {
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
  }
}

.setaIcon {
  cursor: pointer;
  animation: estica 1s linear infinite;
}

.boxSeta{
  height: 150px;
}

@keyframes estica {
  0% {
    height: 100px;
  }
  50% {
    height: 130px;
  }
  100%{
    height: 100px;
  }
}


footer{
  text-align: center;
  color: #fff;
  background-color: black;
}

.text{
  padding-top: 20px;
  padding-bottom: 20px;
}